
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    margin:5px;
    margin-top:20px;
}
h1{
    margin-bottom: 20px;
}
#input{
    width:190px;
}

.button{
    margin-top:10px;
    width:145px;
}
#table{
    margin-top: 10px;
    width: 30%;
    height: 30%;
    border-collapse: collapse;
    border:1.5px solid#FFC300;
    background-color:#FFC300;
}
th, td{
    padding:20px;
}
th{
    text-align: center;
}
td{
    border:1.5px solid #FFC300;
    background-color:#483D8B;
    color:white;
    padding:20px;
}
.color{
    background-color: #deb42b;
}